*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --rounded: 9999px;
}

.inter-variable {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* App */

.app {
  font-size: 18px;
  color: black;
  width: 1200px;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  font-size: 18px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease;

  &[disabled="true"],
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.btn--primary {
  background: rgb(63, 223, 63);
  color: white;

  &:hover {
    background: rgb(61, 143, 61);
  }

  &[disabled="true"],
  &[disabled] {
    opacity: 0.5;
  }
}

.btn--destructive {
  background: rgb(240, 27, 27);
  color: white;

  &:hover {
    background: rgb(224, 113, 113);
  }

  &[disabled="true"],
  &[disabled] {
    opacity: 0.5;
  }
}

.datepicker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .datepicker__title {
    font-size: 24px;
    font-weight: 500;
  }

  .datepicker__dates {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .datepicker__field {
      position: relative;
      flex: 1 0 200px;
      display: flex;
      justify-content: space-between;
      padding: 6px 12px;
      border: 1px solid gray;
      cursor: pointer;

      .datepicker__label {
        position: absolute;
        left: 12px;
        top: 6px;
        font-size: 16px;
        color: gray;
        pointer-events: none;
        transition: all 0.1s linear;

        &[data-priority="false"] {
          font-size: 10px;
          translate: 0 -5px;
        }
      }

      .datepicker__value {
        translate: 0 6px;
        pointer-events: none;
      }

      .datepicker__icon {
        margin-left: auto;
      }
    }
  }
}

.btns {
  display: flex;
  gap: 20px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .progress-bar__indicator {
    --progress: 0;
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: var(--rounded);
    border: 1px solid blue;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: calc(var(--progress) * 1%);
      background: blue;
      border-radius: var(--rounded);
    }
  }

  .progress-bar__status {
    font-size: 14px;
  }
}

/* Datepicker */
.qs-datepicker-container {
  width: calc(50% - 10px);

  @media (max-width: 460px) {
    width: 100%;
  }
}
